# Git Files
contributing.md

# Dot Files
.*

# Source Files
*.es6

# Sublime
*.sublime-project
*.sublime-workspace

# IntelliJ
.idea

# Eclipse
.project

# Other?
sftp-config.json
*.swp
error.log
events.log
